.header {
  margin: 30px 0 0 30px;
  text-align: center;

  &__banner {
    margin-left: 10px;
    border-radius: 3px;

  }
}

.shop {
  height: auto;
  width: 1500px;
  display: block;
  margin: 0 auto;


  &__product--noform {
    margin-top: 20px;
    align-items: center;
    display: flex;
    height: 50px;
    width: auto;

  }

  &__product--form {
    background-color: rgba(255, 255, 255, 0.795);
    width: 1220px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    &__head_text {
      font-weight: 600;
      color: rgba(255, 0, 0, 0.795);
      margin: 0;
      display: block;
      text-align: center;
      font-size: 50px;
    }

    &__down {
      text-align: center;
      flex-wrap: wrap;
      display: flex;
      width: 1300px;
      height: auto;
    }
  }
}



.des__container {
  margin: 30px auto;
  display: flex;
  height: auto;

  width: 1270px;

  &--inner {

    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #6d6d6e;
    width: 800px;
    text-align: left;

    &--left {
      margin: 0 0 0 100px;
      border: 1px solid gray;
    }
  }

}

.text_para_box {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  font-family: Roboto, sans-serif !important;

}

.h1_para_box_head {
  /* margin: 7px 0 0 10px; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #000000;
  display: -webkit-box;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  overflow: hidden;
}

.text_para_box_inherit {
  border-left: #b6b6b6 solid 5px;
  padding-left: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

.para_right {

  margin-left: 10px;
  background-color: #ffffff;
  width: 445px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #6d6d6e;
}

.para_box_right {
  display: flex;
  margin: 0 20px 0 20px;
  padding-top: 20px;
}

.icon_news {
  padding: 10px 0 0 0px;
  width: 30px;
  height: 30px;
}

.text_para_box_head {
  margin: 7px 0 0 10px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  display: -webkit-box;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  overflow: hidden;
}










.product_ .flex_list {
  display: flex;
  align-items: center;

}

.product_list1 {
  margin: 10px auto;
  width: 195px;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #6d6d6e,
    0px 0px 2px #6d6d6e,
    0px 0px 2px #6d6d6e,
    0px 0px 2px #6d6d6e;
}

.product_img_1:hover {
  transform: scale(1.1);
}

.flex_box {
  display: flex;
}

.asset_pic {
  width: 83px;
  height: 31px;
  margin: 6px 41px 3px -19px;


}

.text_in_asset {
  margin: -26px 100px 0px -7px;
  font-size: 14px;
  color: white;
  margin-top: -33px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  width: 65%;

}

.install_box {
  margin: auto;
  border: solid 1px #0c53b7;
  border-radius: 8px;
  font-size: 10px;
  color: #0c53b7;
  width: 70px;
  height: 18px;
}

.text_in_install {
  margin-top: 2px;
  font-weight: 600;
}

.product_img_1 {
  transition: transform .1s;
  height: 160px;
  width: 163px;
  margin: 20px 3px 0 10px;
}

.product_deltail {
  margin-top: 14px;
  width: 196px;
  display: flex;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.product_price {
  display: flex;
}

.product_price_sale {

  margin: 5px 7px 0 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff3434;
  font-weight: 800;
  font-size: 17px;

}

.product_old_price {
  color: rgb(104, 104, 104);
  margin: 8px 0 0 20px;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-rate {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ff0000;
  font-size: 20px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  display: inline-block;
  outline: none;
  position: relative;

}

:where(.css-dev-only-do-not-override-j9bb5n).ant-rate .ant-rate-star-first,
:where(.css-dev-only-do-not-override-j9bb5n).ant-rate .ant-rate-star-second {
  color: rgba(114, 79, 79, 0.56);
  transition: all 0.2s;
  user-select: none;
}

.product_noform {
  margin-top: 20px;
  align-items: center;
  display: flex;
  height: 50px;
  width: auto;

}

.product_brand1 {
  width: 192px;
  transition: .09;


}

.product_brand1:hover {
  transform: scale(1.2);
}