.back_button_img {
  height: 40px;
  margin: 10px 0px 0px 550px;
}

.pic_sign_up {
  display: block;
  margin: 10px auto 0 auto;
  width: 120px;
}

.sign_up_head_text {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.option1,
.option2,
.option_signup {
  display: flex;
  cursor: pointer;
  padding: 0 10px;
}

.option_signup {
  justify-content: center;
}

.option_signup_pic1 {
  width: 25px;
  height: 25px;
}

.option_signup_pic2 {
  width: 25px;
  height: 25px;
}

.text_option {
  font-size: 19px;
  margin: auto 0px auto 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.or_line {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10px;
  margin: 40px auto 0 auto;
}


.text_line {
  font-size: 16px;
  margin: 0;
}

.under-body {
  margin: 3% 0 0 30%;
  height: auto;

}

// :where(.css-dev-only-do-not-override-j9bb5n).ant-form {
//   box-sizing: border-box;
//   margin: 30px auto;
//   color: rgba(0, 0, 0, 0.88);
//   font-size: 14px;
//   line-height: 1.5714285714285714;
//   list-style: none;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
//   max-width: 900px;
// }

// :where(.css-dev-only-do-not-override-j9bb5n).ant-input-outlined {
//   width: 600px;
// }



// :where(.css-dev-only-do-not-override-j9bb5n).ant-btn-primary {
//   color: #fff;
//   margin: 0 0 0 250px;
//   background: #1677ff;
//   box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
// }

:where(.css-dev-only-do-not-override-3rel02).ant-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}