.header_detail{
  display: flex;
}
.star{
  height: 16px;
  margin: 25px 0 0 0
}
.header_title{
  font-size: 19px;
  font-weight: 600;
  width: 600px;
}
.headder_deltail_left{
  margin-left: 300px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
.headder_deltail_right{
  display: flex;
}
.text_head_evaluate{
  margin: 25px 0 0 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color:rgb(102, 102, 102);
} 
.under_header_mac_air_m1{
  display: flex;
  height: auto;
  
}
.under_header_rig{
  width: 475px;
  margin-left: 20px;
}
.under_header_right{
  width: 100%;
  display: flex;
  
}
.video_thumbnail_macbook_air_m1{
  width: 710px;
  height: 396px;
  border-radius: 20px;
  display: flex;
}
.video_box{
  margin-left: 300px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
.type_product_box{
  display:block;
  margin: 0 20px 0 0 ;
  width: 136px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: #444 solid 1px;
  border-radius: 5px;
}
.version_1{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 0 ;
  font-size: 15px;
  font-weight: 600;
  color: rgb(63, 63, 63);
  text-align: center;
}
.version_2{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 0 ;
  font-size: 15px;
  font-weight: 600;
  color: rgb(63, 63, 63);
  text-align: center;

}
.version_3{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 0 ;
  font-size: 15px;
  font-weight: 600;
  color: rgb(63, 63, 63);
  text-align: center;

}

.ver_1_price{
  margin: 7px 0;
  text-align: center;
  color: rgb(65, 65, 65);
  font-size: 14px;
}
.ver_2_price{
  margin: 7px 0;
  text-align: center;
  color: rgb(65, 65, 65);
  font-size: 14px;
}
.ver_3_price{
  margin: 7px 0;
  text-align: center;
  color: rgb(65, 65, 65);
  font-size: 14px;
}
.under_header_right_text{
 
  font-weight: 600;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.under_header_right_color{

  display: flex;
}
.type_color_product_box{
  display:flex;
  margin: 0 20px 0 0 ;
  width: 162px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: #444 solid 1px;
  border-radius: 5px;
}
.type_color_product_box_small{
  margin-left: -12px;
}

.img_type_lap{
  height: 36px;
  width: 36px;
  margin-top: 5px;
  margin-left:5px;
}
.text_color_in_box{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 40px ;
  font-size: 14px;
  font-weight: 600;
  color: rgb(63, 63, 63);

}

.price_color_in_box{
  margin: 7px 0 0 21px;
  color: rgb(65, 65, 65);
  font-size: 13px;
  width: 80px;
}
.banner_mac_air_m1{
text-decoration: none;
}
/* .autoplay_banner{
  height: auto;
  width: 480px;
} */
.banner_mac_air_m1_img{
  height: 100px;
  width: 480px;
  margin: 10px 0 0  0;
  border-radius: 10px;
}
.slick-track{
  width: 300px;
}
.sale_box{
  border-radius: 10px;
  margin: 10px 0 0 0px;
  height: 130px;
  width: 100%;
  background-color: rgb(254,226,226);
}
.sale_text{
  color: rgb(222,43,63);
  font-size: 18px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: -10px 0 0 30px;
}
.info_sale_box{
  margin: -18px 0 0 2px;
  width: 99%;
  height: 80px;
  background-color: rgb(250, 250, 250);
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}

.text_info{
  margin: 27px 0 0 0px;
  padding: 20px 0 0 30px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text_info_line{
  text-decoration: none;
  color: black;

}
.buy_area{
  display: flex;
}
.button_buy{
  border-radius: 10px;
  margin: 10px 0 0 0px;
  cursor: pointer;
  width: 444px;
  height: 60px;
  border: none;
  background-color : rgb(184, 5, 5);
  transition: background-color .2 ease;
}
.button_buy:hover{
  background-color: #818181;
}
.buy_text_up{
  margin: 0 0 0 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.buy_text_down{
  color: white;
  margin: 6px 0 0 0 ;
}
.cart{
  margin: 10px 0 0 10px;
  width: 70px;
  height: 58px;
  border-radius: 10px;
  border: red solid 2px  ;
}
.cart_icon{
  margin: 3px 0 0 12px;
  width: 30px;
  height: 30px;
}
.cart_text{
  margin: 0 0 0 0 ;
  font-size: 10px;
  text-align: center;
}
.under_header_option{
  display: block;
  border-radius: 10px ;
  unicode-bidi: isolate;
  width: 120%;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-tabs .ant-tabs-tab {
  position:relative ;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 12px 57px;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.88);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-tabs .ant-tabs-tab+.ant-tabs-tab {
 
  width: 100%;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap, :where(.css-dev-only-do-not-override-j9bb5n).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-wrap {
  position: relative;
  cursor: pointer;
  display: flex;
  flex: auto;
  align-self: stretch;
  overflow: hidden;
  white-space: nowrap;
  transform: translate(0);
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-tabs .ant-tabs-tab {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 12px 50px;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.88);
  width: 160px;
}
.ant_tab{
  display: flex;
}
.under_ant_tab_left{
  width: 60%;
  height: auto;
  margin: 0 0 0 -30px;
}
.under_ant_tab_right{
  width: 60%;
  height: auto;
  margin: 0 0 0 -30px;
}
.under_header_option_box {
  width: 265%;
  margin: 0 0 0 -60px;
  height: 74px;
  border-radius: 5px;
  display: flex;
}

.under_header_option_left{
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: red solid 1px;
    text-align: center;
    transition: background-color .5s ease;
    width:120%;
    height: 50px;
}
.under_header_option_left:hover{

  background-color: aliceblue;
}
.tc_icon{
  margin: 35px 30px 0 33px;
  height: 40px;
  width: auto;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-tabs .ant-tabs-content-holder {
  flex: auto;
  margin: 0 0 0 -80px;
  min-width: 0;
  min-height: 0;
}

.uhol_price{
  margin: 2px  0 0 0;
  color:rgb(65, 65, 65);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.uhor_price{
  margin: 2px  0 0 0;
  color:rgb(65, 65, 65);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
  color: #fd2424;

  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;

}
.uhol_text{
  margin:0;
  font-size: 12px;
  font-family:'Gill Sans', 
  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.uhor_text{
  margin: 0;
  font-size: 12px;
  font-family:'Gill Sans', 
  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* text-decoration-line: line-through; */

}
.under_header_option_right {
  border-radius: 5px;
  cursor: pointer;
  border: red solid 1px;
  /* position: relative; */
  text-align: center;
  transition: background-color .5s ease;
  width: 333%;
  height: 50px;
  margin: 0 0 0 -50px;
}
.strong_text{
  color: crimson;
font-family: 'Franklin Gothic Medium', 
'Arial Narrow', Arial, sans-serif;
}

.sfu_text_down{
  font-size: 15px;
  color: crimson;
  
}
.isment{
  display: flex;
}
.isment_left{
  border-radius: 10px;
  margin: 10px 0 0 0px;
  width: 410px;
  height: 60px;
  background: rgb(74, 132, 212);
}
.isment_right{
  border-radius: 10px;
  margin: 10px 0px 0 0px;
  width: 410px;
  height: 60px;
  background: rgb(74, 132, 212);
  margin-left: 10px
}
.isment_buy_text_up{
  text-align: center;
  margin: 8px 0 0 0px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.isment_small_text_down{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px 0 0 0 ;
  font-size: 13px;
  text-align: center;
}
.recive_old{
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
  height: 60px;
  background-color: rgb(236,129,4);
  color: white;
  align-items: center;
  margin-top: 10px;
  transition: background-color .2s ease;

}
.recive_old:hover{
  background-color: #818181;
}
.ro_up_text{
 text-align: center;
 font-weight: 600;
  font-size: 20px;
  margin: 3px 0 ;
  


}
.ro_down_text{
  margin-top: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.footer_ant_tab{
  border-radius: 8px;
  margin-top: 10px;
  border: solid 1px rgb(121, 117, 117);
}
.title_list_footer{
  font-size: 14px;
  color: red;
}
.footer_ant_tab{
  height: auto;
  width: auto;  

}

.head_footer_ant_tab{
  font-size: 20px;
  background-color:rgb(209,213,219);
  font-weight: 600;
  color: rgb(255, 255, 255);
  height: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;
  text-align: center;


}
.head_footer_ant_text{
  height: 100%;
  font-size: 20px;
  margin:  auto 0;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.head_footer_ant_tab_data{
  margin: 0 0 0 10px ;
}
.infor_product{
  display: flex;
}
.info_box{
  margin-top: 20px;
  border-radius: 8px;
  border: solid 1px #bebebe;
  width: 330px;
  height: 300px;
}
.head_text_info{
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text_info2{
  margin: -20px 0 0 0px;
  padding: 20px 0 0 30px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line1{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 60px;
}.line2{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 50px;
}
.line3{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 80px;
}
.line4{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 60px;
}

.img_aboard_src{
  height: 20px;
  margin:5px 0 0 10px;
}
.under_text_info{
  margin:0 0 0 18px;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-right: 30px;
 height: 60px;
 width: 100%;
}
.infor_location{
  border: solid 1px #bebebe;
  margin-right: 0;
  height: 300px;

}
.info_product_location{
  margin: 20px 0 0 45px;
  border-radius: 8px;
  width: 330px;
  height: 20px;
  display: flex;
}
.ifpl_HN{
  height: 30px;
  width: 150px;
  border: solid 1px #bebebe;
  border-radius: 8px;

}
.ifpl_text{
  height: 100%;
  margin: 3px 0 auto 0;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ifpl_DongDa{
  margin-left: 10px;
  height: 30px;
  width: 150px;
  border: solid 1px #bebebe;
  border-radius: 8px;
}
.ifpl_text_under_location{
  margin: 15px 0 0 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}
.ifp_contact{
  border: solid 1px #bebebe;
  margin-left: 10px;
  height: auto + 10px;
  width: 150px;
  border: solid 1px #bebebe;
  border-radius: 8px;
  margin: 20px 0 0 45px;
  border-radius: 8px;
  width: 310px;
}
.ifp_contact_list_1{
  display: flex;
  width: 100%;
  background: #f2f2f2;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}
.ifp_contact_list_2{
   width: 100%;
  height: 30px;
}
.ifp_contact_list_3{
  width: 100%;
  background: #f2f2f2;
  height: 30px;
}
.number_contact{
  color: rgb(221, 0, 0);
  margin: 2px  0 0 10px;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.location_contact{
  width: 100%;
  color: #0864c1;
  margin: 2px  0 0 10px;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  /* line-height: 10px; */
}
.buy_with{
  display: flex;
  margin: 20px 0 0 0;
  border-radius: 8px;
  width: 99%;
  height: auto;
}
.bw_prod_1{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
  margin: 4px 5px 4px 5px;
  width: 165px;
  height: 320px;
  border-radius: 8px;
  border: solid 1px #ffffff;
  
}
.img_bw_prod{
  margin-top: 10px;
  margin-left: 10%;
  width: 140px;
  height: 140px;
  transition: transform .1s;  
}
.img_bw_prod:hover{
  transform: scale(1.1);
}


.text_bw_prod{
  text-align: center;
  margin:  10px 0 0 0 ;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
:where(.css-dev-only-do-not-override-j9bb5n).ant-image .ant-image-img {
  width: 86%;
  height: auto;
  vertical-align: middle;

}

:where(.css-dev-only-do-not-override-j9bb5n).ant-image {
  position: static;
  display: inline-block;
}
:where(.css-dev-only-do-not-override-j9bb5n).ant-image .ant-image-mask {
  position: unset;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.strongtext_bw_prod_up{
  text-decoration: line-through ;
  margin: 0px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #818181;
}
.strongtext_bw_prod_down{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0 ;
  color: #fd2424;
}
.swiper-wrapper {
  box-sizing: initial;
  display: flex;
  height: 100%;
  /* position: relative; */
  transition-property: transform;
  width: 20%;
  z-index: 1;
}
.bn_button{
  border-radius: 8px;
  height: 27px;
  width: 100px;

  margin: 15px 0 0 35px ;
  background-color: #d02c35;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f2f2f2;
  border: 0;

}


:where(.css-dev-only-do-not-override-j9bb5n).ant-rate {

  /* margin: 10px 0 0 30px; */
  align-items: center;
  box-sizing: border-box;
  color: #ffbb00;
  font-size: 25px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  display: inline-block;
  outline: none;
}
.rate_star{
  margin-top: 15px;
}
.rate_text{
  width: 54%;
  margin-left: 4%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #494949;
}

.rate_box{
  display: flex;
}
.rate_value{
text-align: center;
}