.header_detail{
  display: flex;
}
.star{
  height: 16px;
  margin: 25px 0 0 0
}
.header_title{
  font-size: 19px;
  font-weight: 600;
  width: 600px;
}
.headder_deltail_left{
  margin-left: 300px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  display: -webkit-box;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
.headder_deltail_right{
  display: flex;
}
.text_head_evaluate{
  margin: 25px 0 0 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color:rgb(102, 102, 102);
} 
.under_header_mac_air_m1{
  display: flex;
  height: auto;
  
}
.under_header_rig{
  width: 475px;
  margin-left: 20px;
}
.under_header_right{
  width: 100%;
  display: flex;
  
}
.video_thumbnail_macbook_air_m1{
  width: 710px;
  height: 396px;
  border-radius: 20px;
  display: flex;
}
.video_box{
  margin-left: 300px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
.type_product_box{
  display:block;
  margin: 0 20px 0 0 ;
  width: 136px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: #444 solid 1px;
  border-radius: 5px;
}
.text_in_box{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 20px ;
  font-size: 15px;
  font-weight: 600;
  color: rgb(63, 63, 63);;
}
.price_in_box{
  margin: 7px 0 0 34px;
  color: rgb(65, 65, 65);
  font-size: 14px;
}
.under_header_right_text{
 
  font-weight: 600;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.under_header_right_color{

  display: flex;
}
.type_color_product_box{
  display:flex;
  margin: 0 20px 0 0 ;
  width: 162px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border: #444 solid 1px;
  border-radius: 5px;
}
.type_color_product_box_small{
  margin-left: -12px;
}

.img_type_lap{
  height: 36px;
  width: 36px;
  margin-top: 5px;
  margin-left:5px;
}
.text_color_in_box{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 40px ;
  font-size: 14px;
  font-weight: 600;
  color: rgb(63, 63, 63);

}
.price_color_in_box{
  margin: 7px 0 0 21px;
  color: rgb(65, 65, 65);
  font-size: 13px;
  width: 80px;
}
.banner_mac_air_m1{
text-decoration: none;



}
.banner_mac_air_m1_img{
  height: 70px;
  width: 100%;
  margin: 10px 0 0  0;
  border-radius: 10px;
}
.sale_box{
  border-radius: 10px;
  margin: 10px 0 0 0px;
  height: 97px;
  width: 100%;
  background-color: rgb(254,226,226);
}
.sale_text{
  color: rgb(222,43,63);
  font-size: 18px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: -10px 0 0 30px;
}
.info_sale_box{
  margin: -18px 0 0 2px;
  width: 99%;
  height: 57px;
  background-color: rgb(250, 250, 250);
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}

.text_info{
  margin: 27px 0 0 0px;
  padding: 20px 0 0 30px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text_info_line{
  text-decoration: none;
  color: black;

}
.buy_area{
  display: flex;
}
.button_buy{
  border-radius: 10px;
  margin: 10px 0 0 0px;
  width: 444px;
  height: 60px;
  background:linear-gradient(45deg,rgb(239,41,44),rgb(117, 87, 88));
  
}
.buy_text_up{
  margin: 0 0 0 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.buy_text_down{
  color: white;
  margin: 6px 0 0 0 ;
}
.cart{
  margin: 10px 0 0 10px;
  width: 70px;
  height: 58px;
  border-radius: 10px;
  border: red solid 2px  ;
}
.cart_icon{
  margin: 3px 0 0 12px;
  width: 30px;
  height: 30px;
}
.cart_text{
  margin: 0 0 0 0 ;
  font-size: 10px;
  text-align: center;
}
.under_header_option{
  display: block;
  border-radius: 10px ;
  unicode-bidi: isolate;
}

.under_header_option_box{
  background-color: rgb(238,238,239);
  width: 96%;
  height: 74px;
  border-radius: 5px;
  display: flex;
  

}
.under_header_option_left{
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: red solid 1px;
    position: relative;
    text-align: center;
    transition: background-color .5s ease;
    width: 45%;
}
.under_header_option_left:hover{

  background-color: aliceblue;
}
.tc_icon{
  margin: 20px 0 0 20px;
  height: 30px;
  width: 40px;
}


.uhol_price{
  margin: 7px  0 0 0;
  color:rgb(65, 65, 65);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.uhor_price{
  margin: 7px  0 0 0;
  color:rgb(65, 65, 65);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
  color: #fd2424;

  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;

}
.uhol_text{
  margin:0;
  font-size: 12px;
  font-family:'Gill Sans', 
  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.uhor_text{
  margin: 0;
  font-size: 12px;
  font-family:'Gill Sans', 
  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-line: line-through;

}
.under_header_option_right{
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: red solid 1px;

    position: relative;
    text-align: center;
    transition: background-color .5s ease;
    width: 45%;
}
.strong_text{
  color: crimson;
font-family: 'Franklin Gothic Medium', 
'Arial Narrow', Arial, sans-serif;
}

.sfu_text_down{
  font-size: 15px;
  color: crimson;
  
}
.isment{
  display: flex;
}
.isment_left{
  border-radius: 10px;
  margin: 10px 0 0 0px;
  width: 410px;
  height: 60px;
  background: rgb(74, 132, 212);
}
.isment_right{
  border-radius: 10px;
  margin: 10px 0px 0 0px;
  width: 410px;
  height: 60px;
  background: rgb(74, 132, 212);
  margin-left: 10px
}
.isment_buy_text_up{
  text-align: center;
  margin: 8px 0 0 0px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.isment_small_text_down{
  color: white;
  margin: 4px 0 0 0 ;
  font-size: 15px;
  text-align: center;
}
.infor_product{
  display: flex;
}
.info_box{
  margin-top: 20px;
  border-radius: 8px;
  border: solid 1px #bebebe;
  width: 330px;
  height: 300px;
}
.head_text_info{
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.line1{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 60px;
}.line2{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 50px;
}
.line3{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 80px;
}
.line4{
  margin: 8px 5px 0 7px;
  display: flex;
  border-top: none;
  width: 100%;
  height: 60px;
}

.img_aboard_src{
  height: 20px;
  margin:5px 0 0 10px;
}
.under_text_info{
  margin:0 0 0 18px;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-right: 30px;
 height: 60px;
}
.infor_location{
  border: solid 1px #bebebe;
  margin-right: 0;
  height: 300px;

}
.info_product_location{
  margin: 20px 0 0 45px;
  border-radius: 8px;
  width: 330px;
  height: 20px;
  display: flex;
}
.ifpl_HN{
  height: 30px;
  width: 150px;
  border: solid 1px #bebebe;
  border-radius: 8px;

}
.ifpl_text{
  height: 100%;
  margin: 3px 0 auto 0;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ifpl_DongDa{
  margin-left: 10px;
  height: 30px;
  width: 150px;
  border: solid 1px #bebebe;
  border-radius: 8px;
}
.ifpl_text_under_location{
  margin: 15px 0 0 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}
.ifp_contact{
  border: solid 1px #bebebe;
  margin-left: 10px;
  height: auto + 10px;
  width: 150px;
  border: solid 1px #bebebe;
  border-radius: 8px;
  margin: 20px 0 0 45px;
  border-radius: 8px;
  width: 310px;
}
.ifp_contact_list_1{
  display: flex;
  width: 100%;
  background: #f2f2f2;
  height: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}
.ifp_contact_list_2{
   width: 100%;
  height: 30px;
}
.ifp_contact_list_3{
  width: 100%;
  background: #f2f2f2;
  height: 30px;
}
.number_contact{
  color: rgb(221, 0, 0);
  margin: 2px  0 0 10px;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.location_contact{
  color: #0864c1;
  margin: 2px  0 0 10px;
  font-size: 13px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
.buy_with{
  display: flex;
  margin: 20px 0 0 0;
  border-radius: 8px;
  width: 99%;
  height: auto;
}
.bw_prod_1{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.1), 0 2px 6px 2px rgba(60,64,67,.15);
  margin: 4px 5px 4px 5px;
  width: 165px;
  height: 280px;
  border-radius: 8px;
  border: solid 1px #ffffff;
  
}
.img_bw_prod{
  margin-top: 10px;
  margin-left: 10%;
  width: 140px;
  height: 140px;
  transition: transform .1s;  
}
.img_bw_prod:hover{
  transform: scale(1.1);
}
.text_bw_prod{
  text-align: center;
  margin: 0;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.strongtext_bw_prod_up{
  text-decoration: line-through ;
  margin: 0px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #818181;
}
.strongtext_bw_prod_down{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin: 0 ;
  color: #fd2424;
}
.swiper-wrapper {
  box-sizing: initial;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 20%;
  z-index: 1;
}
.bn_button{
  border-radius: 8px;
  height: 27px;
  width: 100px;

  margin: 15px 0 0 35px ;
  background-color: #d02c35;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f2f2f2;
  border: 0;

}
